<div class="modal fade" id="imageVeiwer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <img src="" class="img-fluid">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>



<form class="col-12"  id="form"  enctype="multipart/form-data">

  <div class="alert alert-danger" role="alert" id="invalidIDAlert" style="display: None; opacity:0;">
    {{invalidID}}
  </div>

  <div class="form-group">
    <label for="title">Object Name</label>
    <input type="text" class="typeahead form-control" name="title" id="title" placeholder="Enter object title" value="{{item.title}}" required>
  </div>

  <div class="form-group">
    <label for="collection">Object Collection</label>
    <div class="form-control">
      <input type="text" name="collection" id="collection" placeholder="Enter object collection" value="{{item.collection}}"></input>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Object Description</label>
    <textarea type="text" rows="3" class="form-control" name="description" id="description" placeholder="Enter object description" required style="resize:none;">{{item.description}}</textarea>
  </div>

  <div class="form-group">
    <label for="dateacquired">Date acquired</label>
    <input type="month" class="form-control" name="dateAcquired" value="{{item.dateAcquired}}" id="dateacquired">
  </div>

  <div class="form-group">
    <label>Object Tags</label>
    <input class="tagsinput" type="text" name="tags" id="tags" value="" data-role="tagsinput"/>
  </div>

  <div class="form-group">
    <label for="quantity">Quanitity</label>
    <input type="number" class="form-control" name="quantity" value="{{item.quantity}}" id="quantity">
  </div>

  <div class="form-group">
    <label>Images</label><br/>
    <div class="form-control" id="imageThumbs" style="display:flex;flex-wrap:wrap;max-height:300px;height:auto;overflow:scroll;">

        {{#each item.imagePaths}}
          <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
            <img src="{{this}}" class="img-thumbnail" data-toggle="modal" data-target="#imageVeiwer" data-image="{{this}}" data-uploaded="true">
          </div>
        {{/each}}

    </div>
    <button type="button" onclick="$('#imgupload').trigger('click');" class="btn btn-outline-primary">Browse&hellip;</button>
    <div class="file-names small"></div>

    <input type="file" name="photos" id="imgupload" style="display: none;" multiple>
  </div>

  <div class="form-group">
    <button type="button" onclick="SubForm(true)" class="btn btn-outline-secondary">Submit and Enter New</button>
    <button type="button" onclick="SubForm(false)" class="btn btn-outline-success">Submit</button>
  </div>

  <div class="alert alert-success" role="alert" id="successAlert" style="display: None; opacity:0;">
    {{submitAlert}}
  </div>
  <div class="alert alert-danger" role="alert" id="invalidForm" style="display: None; opacity:0;">
    Please add all required data!
  </div>


</form>

<script>

//POPup on imageclick
$('#imageVeiwer').on('show.bs.modal', function (event) {
  var image = $(event.relatedTarget) // Button that triggered the modal
  var modal = $(this)
  modal.find('.modal-body img').attr("src", image.data('image'));
})


//THROUGHS ERROR IF INVALID ID
$(document).ready( function() {
  if("{{invalidID}}" != ""){
    window.history.replaceState(null,null,"/add");
    $("#invalidIDAlert").show().fadeTo(200,1);
    window.setTimeout(function() {
        $("#invalidIDAlert").fadeTo(200, 0, function(){
            $(this).hide();
        });
    }, 4000);
  }
});


//CALLED WHEN FORM IS SUBMITTED
function SubForm (formReset){
    var itemID = new URLSearchParams(window.location.search).get('itemID');
    var form = document.getElementById('form');
    var formData = new FormData(form);
    if(itemID){formData.append("itemID", itemID);}
    if (!form.checkValidity()){
      $("#invalidForm").show().fadeTo(200,1);
      window.setTimeout(function() {
          $("#invalidIDAlert").fadeTo(200, 0, function(){
              $(this).hide();
          });
      }, 4000);
    } else {
      $.ajax({
          url: '/add',
          type: 'POST',
          data: formData,
          enctype: 'multipart/form-data',
          success: function (res) {
              console.log("Form Submited");
              if(formReset){
                tagList.add(res.tagList);
                collectionList.add(res.collectionList);

                window.history.replaceState(null,null,"/add?itemID="+res.item.id);
                window.history.pushState(null,null,"/add");

                //clears form
                $("input,textarea").each(function(){this.value=""});
                $('.tagsinput').tagsinput('removeAll');

                $("#successAlert").show().fadeTo(200,1);
                window.setTimeout(function() {
                    $("#successAlert").fadeTo(200, 0, function(){
                        $(this).hide();
                    });
                }, 2000);

              } else {
                window.history.replaceState(null,null,"/add?itemID="+res.item.id);
                window.location.href = "/view/object?itemID="+res.item.id;
              }
          },
          cache: false,
          contentType: false,
          processData: false
      });
    }
  }

//CALLED WHEN FILE ADDED
$(document).on('change', ':file', function() {
    var files = $(this).get(0).files;
    var filePreviews = $('#imageThumbs');
    //delete old files
    filePreviews.find('[data-uploaded="false"]').remove();
    //add new files
    for(let file of files){
      let reader = new FileReader();
      reader.onload = function (e) {
          filePreviews.append('<div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2"><img src="'+e.target.result+'" class="img-thumbnail border-success" data-toggle="modal" data-target="#imageVeiwer" data-image="'+e.target.result+'" data-uploaded="false"></div>');
      }
      reader.readAsDataURL(file);
    }
});

//=======COLLECTION========
var collectionList = new Bloodhound({
  local: {{{default collectionList "[]"}}},
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
});

$('#collection').typeahead({},
{
  name: "collectionList",
  source: collectionList
});

//=======TAGS========
var tagList = new Bloodhound({
  local: {{{default tagList []}}},
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
});

$('#tags').tagsinput({
  typeaheadjs: {
    name: "Tags",
    source: tagList.ttAdapter()
  }
});

var existingTags = {{{stringify (default item.tags "")}}}
for(var i=0;i<existingTags.length;i++){
  $('.tagsinput').tagsinput("add",existingTags[i]);
}
// $('#OpenImgUpload').click(function(){ $('#imgupload').trigger('click'); });
</script>
