



<h2>Hello {{user.name}}</h2>


<div class="card-deck p-3">
  {{#each items}}
      <div class="card" style="">
        <img src="https://via.placeholder.com/900x600" class="card-img-top" alt="{{title}}">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{description}}</p>
          <p class="card-text">{{date-added}}</p>
          <a href="#" class="btn btn-primary">Explore</a>
          <a href="#" class="btn btn-warning">Edit</a>
        </div>
      </div>
  {{/each}}
</div>
