
<div class="col-12 col-md-4 mb-3">
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: separate;
      border-spacing: 5px;
    }
    table {
      border: none;
    }
    th, td {
      padding: 15px;
    }
    svg#barcode {
      width: 100%;
      height: auto;
      max-height: 125px;
    }
  </style>
  <script>
    window.onload = function () {
      JsBarcode("#barcode", "{{item.id}}");
    }
  </script>
  <table class="w-100">
    <tr>
      <td colspan="2">
        {{#if item.title}}
        <h2>{{item.title}}</h2>
        {{/if}}
      </td>
    </tr>
    <tr>
      {{#if item.collection}}
      <td>
        <strong>Collection: </strong>
      </td>
      <td>
        {{capitalize item.collection}}
      </td>
      {{/if}}
    </tr>
    <tr>
      {{#if item.description}}
      <td colspan="2">
        {{item.description}}
      </td>
      {{/if}}
    </tr>
    <tr>
      {{#if item.dateAcquired}}
      <td>
        <strong>Date acquired: </strong>
      </td>
      <td>
        {{item.dateAcquired}}
      </td>
      {{/if}}
    </tr>
    <tr>
      <td colspan="2">
        {{#if item.tags}}
        <div class="mx-auto" style="width: fit-content;">
          {{#each item.tags}}
            <span class="badge badge-secondary">{{capitalize this}}</span>
          {{/each}}
        </div>
        {{/if}}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <svg id="barcode"></svg>
      </td>
    </tr>
  </table>


  <a class="btn btn-outline-secondary mt-3" href="/add?itemID={{item.id}}" role="button">Update</a>
</div>

<div class="col">
  {{#if item.imagePaths}}
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {{#eachIndex item.imagePaths}}
        <li data-target="#carousel" data-slide-to="{{index}}" {{#unless index}}class="active"{{/unless}}></li>
      {{/eachIndex}}
    </ol>
    <div class="carousel-inner">
      {{#eachIndex item.imagePaths}}
        <div class="carousel-item{{#unless index}} active{{/unless}}">
          <img src="{{item}}" class="d-block w-100">
        </div>
      {{/eachIndex}}
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {{/if}}
</div>
