
<div class="col-4">
  {{#if item.title}}
  <h2>{{item.title}}</h2>
  {{/if}}

  {{#if item.collection}}
  <p><strong>Collection: </strong>{{capitalize item.collection}}</p>
  {{/if}}

  {{#if item.description}}
  <p style="white-space: pre-wrap;">{{item.description}}</p>
  {{/if}}

  {{#if item.dateAcquired}}
  <p><strong>Date acquired: </strong>{{item.dateAcquired}}</p>
  {{/if}}

  {{#if item.tags}}
  <div class="mb-3">
    {{#each item.tags}}
      <span class="badge badge-secondary">{{capitalize this}}</span>
    {{/each}}
  </div>
  {{/if}}

  <a class="btn btn-outline-secondary" href="/add?itemID={{item.id}}" role="button">Update</a>
</div>

<div class="col">
  {{#if item.imagePath}}
    <img src="{{item.imagePath}}" class="img-fluid w-50" alt="Photo" >
  {{/if}}
</div>
