
<div class="col-12 col-md-4 mb-3">
  {{#if item.title}}
  <h2>{{item.title}}</h2>
  {{/if}}

  {{#if item.collection}}
  <p><strong>Collection: </strong>{{capitalize item.collection}}</p>
  {{/if}}

  {{#if item.description}}
  <p style="white-space: pre-wrap;">{{item.description}}</p>
  {{/if}}

  {{#if item.dateAcquired}}
  <p><strong>Date acquired: </strong>{{item.dateAcquired}}</p>
  {{/if}}

  {{#if item.tags}}
  <div class="mb-3">
    {{#each item.tags}}
      <span class="badge badge-secondary">{{capitalize this}}</span>
    {{/each}}
  </div>
  {{/if}}

  <a class="btn btn-outline-secondary" href="/add?itemID={{item.id}}" role="button">Update</a>
</div>

<div class="col">
  {{#if item.imagePaths}}
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {{#eachIndex item.imagePaths}}
        <li data-target="#carousel" data-slide-to="{{index}}" {{#unless index}}class="active"{{/unless}}></li>
      {{/eachIndex}}
    </ol>
    <div class="carousel-inner">
      {{#eachIndex item.imagePaths}}
        <div class="carousel-item{{#unless index}} active{{/unless}}">
          <img src="{{item}}" class="d-block w-100">
        </div>
      {{/eachIndex}}
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {{/if}}
</div>
