<div class="modal fade" id="imageVeiwer" tabindex="-1" role="dialog" aria-labelledby="imageVeiwer" aria-hidden="true">
  <div class="modal-dialog centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <img src="" class="img-fluid">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onClick="removeImage()">Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade show" id="submitModal" data-backdrop="static" tabindex="-1" role="dialog" aria-modal="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="submitModal-content">
      <div class="modal-body d-flex align-items-center" style="min-height: 64px;">
        <strong id="submitModal-text">Submitting...</strong>
        <div class="spinner-border ml-auto" id="submitModal-spinner" role="status" aria-hidden="true"></div>
      </div>
      <div id="submitModal-footSuccess" style="display: none;" class="modal-footer">
        <button type="button" id="submitModal-formreset" class="btn btn-outline-secondary" data-dismiss="modal">Add Another</button>
        <button type="button" id="submitModal-moveon" class="btn btn-outline-success">View Object</button>
      </div>
      <div id="submitModal-footError" style="display: none;" class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="button" onClick="submitForm()" class="btn btn-outline-danger">Try Again</button>
      </div>
    </div>
  </div>
</div>

<form class="col-12 needs-validation"  id="form"  enctype="multipart/form-data" novalidate>

  <div class="alert alert-danger" role="alert" id="invalidIDAlert" style="display: None; opacity:0;">
    {{invalidID}}
  </div>

  <div class="form-group">
    <label for="title">Object Name</label>
    <input type="text" class="typeahead form-control" name="title" id="title" placeholder="Enter object title" value="{{item.title}}" required>
  </div>

  <div class="form-group">
    <label for="collection">Object Collection</label>
    <div class="form-control">
      <input type="text" name="collection" id="collection" placeholder="Enter object collection" value="{{item.collection}}"></input>
    </div>
    <small class="form-text text-muted">
      Enter a single main collection. eg socks.
    </small>
  </div>

  <div class="form-group">
    <label>Materiality</label>
    <input class="materialinput" type="text" name="materials" id="materials" value="" data-role="materialsinput"/>
    <small class="form-text text-muted">
      Comma seperated tags for materiality and appearance.
    </small>
  </div>

  <div class="form-group">
    <label for="description">Object Description</label>
    <textarea type="text" rows="3" class="form-control" name="description" id="description" placeholder="Enter object description" required style="resize:none;">{{item.description}}</textarea>
    <small class="form-text text-muted">
      Please also use this space to let me know what other options you need?
    </small>
  </div>

  <label>Condition</label>
  <div class="form-row">
    <div class="form-group col-auto">
      <select class="form-control" id="condition" name="condition" default="Poor">
        <option>Excellent</option>
        <option>Good</option>
        <option>Poor</option>
        <option>Very Poor</option>
      </select>
    </div>
    <div class="form-group col">
      <input type="text" class="form-control" name="condition-long" id="condition-long" placeholder="Condition details" value="{{item.condition-long}}"></input>
    </div>
  </div>

  <label for="acquisitionmethod">Acquisition</label>
  <div class="form-row">
    <div class="form-group col-auto">
      <select class="form-control" id="acquisition-method" name="acquisition-method">
        <option>Purchased New</option>
        <option>Purchased Secondhand</option>
        <option>Gifted</option>
      </select>
    </div>
    <div class="form-group col">
      <input class="form-control" name="acquisition" value="{{item.acquisition}}" placeholder="Details">
      </input>
    </div>
    <div class="form-group col">
      <input class="form-control" name="acquisition-value" value="{{item.acquisition-value}}" placeholder="Price">
      </input>
    </div>
    <div class="form-group col">
      <input type="month" class="form-control" name="acquisition-date" value="{{item.dateAcquired}}" id="acquisition-date" placeholder="Date (YYYY-MM-DD)">
    </div>
  </div>


  <label>Value</label>
  <div class="form-row">
    <div class="form-group col">
      <input class="form-control-range custom-range" type="range" name="value" id="value" min="0" max="10" value="{{item.valueRanged}}"/>
      <small class="form-text text-muted">
        An arbitrary scale of value from 0 to 10.
      </small>
    </div>
    <div class="form-group col-auto">
      <input type="number" class="form-control" min=0 max=10 id="value-output" value="5"/>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col">
      <label>Tags</label>
      <input class="tagsinput" type="text" name="tags" id="tags" value="" data-role="tagsinput"/>
    </div>

    <div class="form-group col-auto">
      <label for="quantity">Quanitity</label>
      <input type="number" class="form-control" name="quantity" value="{{default item.quantity 1}}" id="quantity">
    </div>
  </div>

  <div class="form-group">
    <label>Images</label><br/>
    <div class="form-control" id="imageThumbs"  style="display:flex;flex-wrap:wrap;max-height:300px;height:auto;min-height: 36px;overflow:scroll;">
        <span id="placeholder" class="text-muted" style="{{#if photos}}display: None;{{/if}}">No images. Add some below.</span>
        {{#each photos}}
          <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
            <img src="{{this.path}}" id="{{this.id}}" class="img-thumbnail" data-toggle="modal" data-target="#imageVeiwer" data-image="{{this.path}}" data-uploaded="true">
          </div>
        {{/each}}
    </div>
    <input type="file" name="photos" accept="image/*" id="imgupload" style="display: none;" multiple>
    <button type="button" onclick="$('#imgupload').trigger('click');" class="btn btn-outline-primary mt-2">Browse&hellip;</button>
  </div>

  <div class="form-group">
    <button type="button" id="submitForm" class="btn btn-outline-success">Submit</button>
  </div>

  <div class="alert alert-success" role="alert" id="successAlert" style="display: None; opacity:0;">
    {{submitAlert}}
  </div>
  <div class="alert alert-danger" role="alert" id="invalidForm" style="display: None; opacity:0;">
    Please add all required data!
  </div>


</form>

<script>


//THROUGHS ERROR IF INVALID ID
$(document).ready( function() {
  if("{{invalidID}}" != ""){
    window.history.replaceState(null,null,"/add");
    $("#invalidIDAlert").show().fadeTo(200,1);
    window.setTimeout(function() {
        $("#invalidIDAlert").fadeTo(200, 0, function(){
            $(this).hide();
        });
    }, 4000);
  }
});

// Loads form data
$(document).ready( function() {
  var selects = $("select");
  var itemDefault = {"acquisition-method":"Purchased New", "condition": "Excellent"};
  var item = {{{default itemJSON "itemDefault"}}};
  for(let select of selects){
    select.value = item[select.name];
  }
});

$(document).on("input", "#value", function(e){
  $("#value-output").val($(this).val());
});
$(document).on("change", "#value-output", function(e){
  $("#value").val($(this).val());
});

//POPup on imageclick
$('#imageVeiwer').on('show.bs.modal', function (event) {
  var image = $(event.relatedTarget) // Button that triggered the modal
  var modal = $(this)
  modal.find('.modal-body img').attr("src", image.attr('src'));
  modal.find('.modal-body img').attr("id", image.attr('id'));
})

//REMOVES IMAGES VIA MODAL
function removeImage(){
  var image = $('#imageThumbs').find('[src="'+$("#imageVeiwer").find("img").attr("src")+'"]');

  if(image.attr("data-uploaded")=="true"){
    console.log("Image is uploaded. Deleting from server.")
    var itemID = new URLSearchParams(window.location.search).get('itemID');
    var imageID = image.attr("id");
    var data = {"imageID":imageID, "itemID":itemID};
    $.ajax({
      url: '/add',
      type: 'DELETE',
      data: data,
      success: function (res) {
        $("#imageVeiwer").modal('hide');
        image.parent().remove();
      }
    })
  } else {
    $("#imageVeiwer").modal('hide');
    image.parent().remove();
  }
  if ($('#imageThumbs').find("img").length == 0){
    $("#placeholder").show();
  }
}

var fileList = [];
//CALLED WHEN FILE ADDED
$(document).on('change', ':file', function() {
  fileList = [];
    var files = $(this).get(0).files;
    var filePreviews = $('#imageThumbs');
    //delete old files
    filePreviews.find('[data-uploaded="false"]').parent().remove();
    //add new files
    $("#placeholder").hide();
    for(let file of files){
      new Compressor(file, {
        quality: 0.9,
        maxWidth: 1200,
        maxHeight: 1200,
        success(result){
          let src = URL.createObjectURL(result);
          fileList.push({"result":result,"src":src,"name":file.name});
          filePreviews.append('<div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2"><img src="'+src+'" class="img-thumbnail border-success" data-toggle="modal" data-target="#imageVeiwer" data-uploaded=false></div>');
        },
        error(err) {
          console.log(err.message);
        }
      });
    }

});


//CALLED WHEN FORM IS SUBMITTED
$(document).on("click", "#submitForm", function(){
  submitForm();
});

function submitForm () {
    var itemID = new URLSearchParams(window.location.search).get('itemID');
    var form = document.getElementById('form');
    var formData = new FormData(form);
    formData.delete("photos");
    for(let file of fileList){
      formData.append("compressedPhotos",file.result, file.name);
    }
    if(itemID){formData.append("id", itemID);}
    if (!form.checkValidity()){
      $("#invalidForm").show().fadeTo(200,1);
      form.classList.add('was-validated');
      window.setTimeout(function() {
          $("#invalidIDAlert").fadeTo(200, 0, function(){
              $(this).hide();
          });
      }, 4000);
    } else {
      $("#submitModal").modal('show');
      $.ajax({
          url: '/add',
          type: 'POST',
          data: formData,
          enctype: 'multipart/form-data',
          success: function (res) {
              $("#submitModal-footSuccess").show(); //showbuttons
              $("#submitModal-spinner").hide();
              $("#submitModal-text").html("Submitted");

              console.log("Form Submited");

              $(document).on("click", "#submitModal-formreset", function(e){
                $(document).off("click", "#submitModal-formreset");
                $(document).off("click", "#submitModal-moveon");

                tagList.add(res.tagList);
                materialList.add(res.materialList);
                collectionList.add(res.collectionList);

                window.history.replaceState(null,null,"/add?itemID="+res.item.id);
                window.history.pushState(null,null,"/add");

                //clears form
                $("input,textarea").each(function(){this.value=""});
                $('#tags').tagsinput('removeAll');
                $('#materials').tagsinput('removeAll');

                $('#imageThumbs').find("img").parent().remove()
                $("#quality").val(1);
                $("#submitModal").modal('hide');
                $("#submitModal-footSuccess").hide(); //showbuttons
                $("#submitModal-spinner").show();
                $("#submitModal-text").html("Submitting...");

              });

              $(document).on("click", "#submitModal-moveon", function(e){
                $(document).off("click", "#submitModal-formreset");
                $(document).off("click", "#submitModal-moveon");
                window.history.replaceState(null,null,"/add?itemID="+res.item.id);
                window.location.href = "/view/object?itemID="+res.item.id;
              });
          },
          error: function (res) {
            $("#submitModal-footError").show(); //showbuttons
            $("#submitModal-spinner").hide();
            $("#submitModal-text").html("Error Submitting");

          },
          cache: false,
          contentType: false,
          processData: false
      });
    }
  };


//=======COLLECTION========
var collectionList = new Bloodhound({
  local: {{{default collectionList "[]"}}},
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
});

$('#collection').typeahead({},
{
  name: "collectionList",
  source: collectionList
});

//=======TAGS========
var tagList = new Bloodhound({
  local: {{{default tagList []}}},
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
});

$('#tags').tagsinput({
  typeaheadjs: {
    name: "Tags",
    source: tagList.ttAdapter()
  }
});

var existingTags = {{{stringify (default item.tags "")}}}
for(var i=0;i<existingTags.length;i++){
  $('#tags').tagsinput("add",existingTags[i]);
}

//=======MATERIALITY========
var materialList = new Bloodhound({
  local: {{{default materialList []}}},
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
});

$('#materials').tagsinput({
  typeaheadjs: {
    name: "Materiality",
    source: materialList.ttAdapter()
  }
});

var existingMaterials = {{{stringify (default item.materials "")}}}
for(var i=0;i<existingMaterials.length;i++){
  $('#materials').tagsinput("add",existingMaterials[i]);
}
</script>
